button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color__background-button;
	@include font-size(1.3);
	line-height: 1;
	
	&:hover, 
	&:active,
	&:focus {
		outline: 0;

	}
}




