.search-form {
	font-size: 0; // whitespace hack
	input[type="search"] {
		
	}
	.search-submit {
		padding: 0;
		vertical-align: top;
	}
}

#search-container {
	position: absolute;
	top: 100%;
	right: 0;
	padding: 10px;
	font-size: 0; // whitespace hack
	z-index: 99;
	.search-form {
		margin-bottom: 0;
	}
	input[type="search"] {
		width: 100%;
	}

}

#mobile-search-container {
	.search-form {
	
	}
}

#search-container[aria-hidden="true"] {
	right: 9999px;
}

#search-container[data-visible="false"] {
	@include transition(opacity, 0.5s, ease-in-out);
	opacity: 0;
}

#search-container[data-visible="true"] {
	@include transition(opacity, 0.5s, ease-in-out);
	opacity: 1;
}

#search-toggle {
	padding: 0;
}

@media screen and (max-width: 767px) {
	#search-toggle {
		display: none;
	}
}