#colophon .widget {
	

	h2 {
		@include font-size(1.8);

		
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			padding-bottom: 20px;
			a {
				color: $white;
			}
		}
	}
	.post-date {
		font-size: 0.8em;
	}
}