$pink: #ff4565;
$dark-pink: #ab2e44;
$purple: #6c213f;
$black: #000;
$dark-gray: #090910;
$light-gray: #f5f5f5;
$white: #fff;

$color__background-body: $white;
$color__background-container: $white;
$color__background-screen: $white;
$color__background-hr: #ccc;
$color__background-button: $light-gray;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $black;
$color__text-input: #fff;
$color__text-input-focus: #111;
$color__link: $dark-gray;
$color__link-visited: $light-gray;
$color__link-hover: initial;
$color__text-main: $black;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__background-main-wrapper: $white;


