.nav-container {
	position: relative;
	#site-navigation {
		clear: both;
		display: block;
		//float: right;
		ul {
			display: none;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		a {
			display: block;
			padding: 0 0.5em;
		}

		a {

		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			
		}

		@media screen and (min-width: 768px) {
			#menu-button {
				display: none;
			}
			>ul {
				display: block;
				float: right;
				ul {
					box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
					background: $color__background_menu;
					display: block;
					float: left;
					position: absolute;			
					top: 1.5em;
					left: -999em;
					z-index: 99999;

					ul {
						left: -999em;
						top: 0;
					}

					li {
						min-width: 10em;
						&:hover > ul,
						&:focus > ul {
							left: 100%;
						}
					}
				}

				li:hover > ul,
				li.focus > ul {
					left: auto;
				}		
			}
			li {
			position: relative;
			float: left;
			&:hover > a,
			&.focus > a {
			}
		}
		}
	}
	@media screen and (max-width: 767px) {
		#site-navigation.toggled ul {
			display: block;
			li {
				display: block;
				ul {
					margin-left: 1em;
				}
			}
		}
	}
}

	/* Small menu. */

	.comment-navigation,
	.posts-navigation,
	.post-navigation {

		.site-main & {
			margin: 0 0 1.5em;
			overflow: hidden;
		}

		.nav-previous {
			float: left;
			width: 50%;
		}

		.nav-next {
			float: right;
			text-align: right;
			width: 50%;
		}
	}	

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

ul.page-numbers {
	list-style-type: none;
	margin: 0 0 3.3em;
	padding: 0;
	li {
		display: inline-block;
		margin: 0;
		padding: 0;
		a, .current {
			display: inline-block;
			text-decoration: none;
		}
	}
}

.more-link {
	display: inline-block;
}


/*.nav-links {
	@extend .row;
}

.nav-previous {
	@extend .col-xs-6;
	text-align: left;
}

.nav-next {
	@extend .col-xs-6;
	text-align: right;
}*/
