.nav-container {
	position: relative;
	text-align: right;
	#site-navigation {
		clear: both;
		display: block;
		float: left;
		width: 100%;
		display: inline-block;
		@media screen and (min-width: 768px) {
			#menu-button {
				display: none;
			}
		}
		ul {
			display: none;
			list-style: none;
			margin: 0;
			padding-left: 0;

			ul {
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				position: absolute;
				top: 1.5em;
				left: -999em;
				z-index: 99999;

				ul {
					left: -999em;
					top: 0;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}

				a {
					
				}

				:hover > a,
				.focus > a {
				}

				a:hover,
				a.focus {
				}
			}

			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		}

		li {
			position: relative;
			display: inline-block;
			margin-right: 1em;
			&:hover > a,
			&.focus > a {
			}
		}

		@media screen and (min-width: 768px) {
			ul {
				display: inline-block;
				li {
					display: inline-block;
				}
			}
		}	

		a {

		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			
		}


	}

	#site-navigation.toggled ul {
		display: block;
	}

}

	/* Small menu. */

	.comment-navigation,
	.posts-navigation,
	.post-navigation {

		.site-main & {
			margin: 0 0 1.5em;
			overflow: hidden;
		}

		.nav-previous {
			float: left;
			width: 50%;
		}

		.nav-next {
			float: right;
			text-align: right;
			width: 50%;
		}
	}	

/*.nav-links {
	@extend .row;
}

.nav-previous {
	@extend .col-xs-6;
	text-align: left;
}

.nav-next {
	@extend .col-xs-6;
	text-align: right;
}*/
