#comments {
	margin-top: 3.3em;
	.comments-title, #reply-title {
	
	}
	.comment-list {
	list-style-type: none;
	}
	.comment {
	margin-top: 1.3em;
	padding: 1.6em;
	}
	.comment-author {
		margin-bottom: 1em;
		img {
			display: block;
			float: left;
			margin-right: 1em;
		}
		.fn {

		}
	}
	
	.comment-metadata {
	@include font-size(1.4);
	}
	.bypostauthor {

		.fn {
			color: initial;
		}
		a {
			color: initial;
		}
	}
	.reply {
		text-align: right;
	}
}
#respond {
	margin: 3.3em 0;
	#commentform {
		label {
		display: block;
		}
	}
}	

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
