.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}


.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-footer {
	span:not(:last-child) {
		margin-right: 0.3em;
		&:after {
			content: "|";
			margin-left: 0.3em;
			color: $dark-gray;
		}
	}
}

iframe {
	background: #dbdbdb;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.entry-meta {
	@include font-size(1.3);
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

ul.page-numbers {
	list-style-type: none;
	margin: 0 0 3.3em;
	padding: 0;
	li {
		display: inline-block;
		margin: 0;
		padding: 0;
		a, .current {
			display: inline-block;
			text-decoration: none;
		}
	}
}

.more-link {
	display: inline-block;
}



